* {
    margin: 0;
    padding: 0;
    /* border: 0.1px solid red; */
    box-sizing: border-box;
    font-family: "DM Sans";
    scroll-behavior: smooth;
}

:root {
    --Title: clamp(1.8rem, 4vw, 2.5rem);       /* Scales between 1.8rem (mobiles) and 2.5rem (1080p) */
    --Subtitle: clamp(1.5rem, 3.5vw, 2rem);
    --NormalText: clamp(1.1rem, 2.5vw, 1.5rem);
    --Paragraph: clamp(1rem, 2vw, 1.25rem);
  }

