.beritaList {
    flex-direction: column;
    height: 80%;
    width: 100%;
    gap: 0;
    border: 1px solid black;
    
}

.beritaEntry {
    text-decoration: none;
    background-color: rgb(240, 240, 240);
    border: 1px solid black;
    height: 25%;
    width: 100%;
    padding: 10px;
    transition: all 0.35s ease-out;
    font-weight: 700;
}

.beritaEntry:hover{
    scale: 1.05;
    
}

.beritaLinks {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: var(--NormalText);
}

a {
    text-decoration: none;
    color: black;
}
