.navbar {
    display: flex;
    font-family: "Cal Sans";
    padding: 7.5px;
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: white;
    max-height: 10vh;
}

.navTitle {
    font-size: var(--Subtitle);
    font-weight: 800;
    text-decoration: none;
    width: 20%;
    text-align: center;
}

ul {
    display: flex;
    gap: 2.5%;
    width: 77.5%;
    justify-content: right;
    align-items: center;
    list-style-type: none;
    font-size: var(--NormalText);
    font-weight: 600;
    
}

.navbarEntry {
    transition: all 0.35s ease;
}

.navbarEntry:hover {
    scale: 1.05;
}

.navbarLinks {
    transition: all 0.35s ease;
}

.navbarLinks:hover {
    color: red;
}