.section {
    width: 99vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#sevillaBG {
    height: fit-content;

}

.SaifillahBG {
    width: 100%;
    height: 95vh;
}

#Saifillah_Mobile {
    display: none;
}

#Tentang {
    height: 20%;
    width: fit-content;
    flex-direction: column;
    align-self: self-end;
    z-index: 5;
    position: absolute;
    color: white;
}

#Kegiatan {
    height: 70vh;
}

#Berita {
    height: 70vh;
}

#Kontak {
    height: 70vh;
}

#footer {
    height: 7.5vh;
}

.halfHorizontal {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.halfWidth {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;

}

.just-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pad-20 {
    padding: 20px;
}

@media only screen and (max-width: 720px) {
    .halfHorizontal {
        flex-direction: column;
    }

    .halfWidth {
        width: 100%;
        height: 50%;
    }

    #Berita {
        height: 100vh;
    }

    #Saifillah_PC {
        display: none;
    }

    #Saifillah_Mobile {
        display: block;
    }
}