.tentangTitle {
    font-size: 2.5rem;
}

.tentangPara {
    font-size: 1.25rem;
}

.tentangImages {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
}

img {
    width: 100%;
    height: fit-content;
}